{% extends "base.html" %}
<!-- Extending from our base html -->

<!-- Setting our page title -->
{% block title %}Password Change{% endblock title %}

{% block content %}
    <h1>Password change</h1>
    <p>Please enter your old password, for security's sake, and then enter your new password twice se we can verify you typed it in correctly.</p>
    <!-- Using post as we are sending data -->
    <form method="post">
        <!-- Security -->
        {% csrf_token %}
        <!-- Simply displaying in paragraphs the content of the default password reset form. -->
        {{ form.as_p }}
        <!-- Styling our button to look green -->
        <input type="submit" class="btn btn-success" value="Change my password">
    </form>
{% endblock content %}